<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.minicreate.mapper.TransMsgStateRecordMapper">
    <resultMap id="BaseResultMap" type="com.zy.minicreate.model.TransMsgStateRecord">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="topic" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="flag" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="msg_body" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="trans_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="trans_state" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="msg_keys" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="msg_is_tran" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="msg_uniq_key" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="msg_is_wait" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="msg_group" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="msg_tags" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="biz_type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>

    <!--统一出参封装-->
    <sql id="Base_Column_List">
    id, topic, flag, msg_body, trans_id, trans_state, msg_keys, msg_is_tran, msg_uniq_key,
    msg_is_wait, msg_group, msg_tags, biz_type, create_time, update_time
    </sql>


    <insert id="insertSelective" parameterType="com.zy.minicreate.model.TransMsgStateRecord" useGeneratedKeys="true"
            keyProperty="id">
        insert into trans_msg_state_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="msgBody != null">
                msg_body,
            </if>
            <if test="transId != null">
                trans_id,
            </if>
            <if test="transState != null">
                trans_state,
            </if>
            <if test="msgKeys != null">
                msg_keys,
            </if>
            <if test="msgIsTran != null">
                msg_is_tran,
            </if>
            <if test="msgUniqKey != null">
                msg_uniq_key,
            </if>
            <if test="msgIsWait != null">
                msg_is_wait,
            </if>
            <if test="msgGroup != null">
                msg_group,
            </if>
            <if test="msgTags != null">
                msg_tags,
            </if>
            <if test="bizType != null">
                biz_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="msgBody != null">
                #{msgBody,jdbcType=VARCHAR},
            </if>
            <if test="transId != null">
                #{transId,jdbcType=VARCHAR},
            </if>
            <if test="transState != null">
                #{transState,jdbcType=INTEGER},
            </if>
            <if test="msgKeys != null">
                #{msgKeys,jdbcType=VARCHAR},
            </if>
            <if test="msgIsTran != null">
                #{msgIsTran,jdbcType=BIT},
            </if>
            <if test="msgUniqKey != null">
                #{msgUniqKey,jdbcType=VARCHAR},
            </if>
            <if test="msgIsWait != null">
                #{msgIsWait,jdbcType=BIT},
            </if>
            <if test="msgGroup != null">
                #{msgGroup,jdbcType=VARCHAR},
            </if>
            <if test="msgTags != null">
                #{msgTags,jdbcType=VARCHAR},
            </if>
            <if test="bizType != null">
                #{bizType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="com.zy.minicreate.model.TransMsgStateRecord">
        update trans_msg_state_record
        <set>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="msgBody != null">
                msg_body = #{msgBody,jdbcType=VARCHAR},
            </if>
            <if test="transId != null">
                trans_id = #{transId,jdbcType=VARCHAR},
            </if>
            <if test="transState != null">
                trans_state = #{transState,jdbcType=INTEGER},
            </if>
            <if test="msgKeys != null">
                msg_keys = #{msgKeys,jdbcType=VARCHAR},
            </if>
            <if test="msgIsTran != null">
                msg_is_tran = #{msgIsTran,jdbcType=BIT},
            </if>
            <if test="msgUniqKey != null">
                msg_uniq_key = #{msgUniqKey,jdbcType=VARCHAR},
            </if>
            <if test="msgIsWait != null">
                msg_is_wait = #{msgIsWait,jdbcType=BIT},
            </if>
            <if test="msgGroup != null">
                msg_group = #{msgGroup,jdbcType=VARCHAR},
            </if>
            <if test="msgTags != null">
                msg_tags = #{msgTags,jdbcType=VARCHAR},
            </if>
            <if test="bizType != null">
                biz_type = #{bizType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


    <select id="findRecordByTransId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from trans_msg_state_record
        where trans_id = #{transId,jdbcType=VARCHAR}
    </select>


</mapper>